<h1>Iron Reddit Links</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Url</th>
      <th>User</th>
      <th>Votes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td><%= link.user.name %></td>
        <td class="bigger"><%= link.num_votes %><%= link_to('Vote Up', vote_up_path(link), method: :post, class: "btn btn-info space space-left") %><%= link_to('Vote Down', vote_down_path(link), method: :post, class: "btn btn-warning space") %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) unless @current_user == nil || @current_user.id != link.user_id %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } unless @current_user == nil || @current_user.id != link.user_id %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

<br>
<%= link_to 'Highlight First Row', '#', class: "btn btn-warning", id: "highlight" %>
<%= link_to 'New Link', new_link_path, class: "btn btn-info" %>
<%= link_to 'Login', login_path, class: "btn btn-default" if !user_logged_in? %>
<p> Don't have an account yet? Click <%= link_to 'here', new_user_path %> to sign up!</p>

